@import "tailwindcss";

#file-upload-button {
  cursor: pointer;
  height: 0;
}

.input {
  @apply w-full border border-gray-300 h-10 px-3 text-lg text-gray-700 bg-gray-100 rounded-md focus:outline-none;
}

.btn-primary {
  @apply bg-[#75002b] text-white font-semibold text-lg h-10 rounded-md cursor-pointer hover:bg-[#9c1245] transition;
}

/* Responsive helpers */
@media (max-width: 640px) {
  .main-form {
    padding: 0.5rem !important;
    border-left-width: 0 !important;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5) !important;
  }
}
